DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=
SELLER_API_URL=http://127.0.0.1:8002
PAYMENT_API_URL=http://127.0.0.1:8003
DELIVERY_API_URL=http://127.0.0.1:8004
MARKETPLACE_API_URL=http://127.0.0.1:8001
